@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Iceberg&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --font-family: "Iceberg", sans-serif;
    --second-family: "Electrolize", sans-serif;
    --primary-color: #0078FF;
    --secondary-color: rgb(106, 106, 109);
    --third-color: #fff;
    --fourth-color: #5FE3FF;
    --gradient: #020024;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p,ul,span {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-family: var(--font-family);
    background: linear-gradient(135deg, #090d16, #071553);
}

.btn_primary {
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: var(--gradient);
    display: inline-flex;
    align-items: center;
    gap: 11px;
    border-radius: 20px;
    background: var(--primary-color);
    padding: 16px 44px 17px 45px;
}

.btn_primary:hover {
    text-decoration: none;
    background: var(--fourth-color);
    color: var(--gradient);
    transition: .2s;
}

iconify-icon {
    vertical-align: middle;
}

section {
    margin-top: 120px;
}
/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
header nav {
    background: rgba(11, 18, 32, 0.75);
    backdrop-filter: blur(8px);
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid rgba(0, 153, 255, 0.15);
}

header .anchor a {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    color: var(--primary-color);
    margin-right: 16px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    padding: 0 auto;
    border-radius: 20%;
}

header .anchor:hover a {
    color: var(--fourth-color);
    border-left: 2px solid var(--fourth-color);
    border-right: 2px solid var(--fourth-color);
    transition: .2s;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                               Banner Section                               */
#banner {
    height: fit-content;
    margin: auto;
    padding-top: 100px;
}

#banner h5 {
    font-weight: 400;
    font-size: 24px;
    color: var(--primary-color);
    margin: 20px 0 16px;
}

#banner h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 45px;
    color: var(--primary-color);
    margin-bottom: 25px;
}

#banner p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    color: var(--third-color);
    margin-bottom: 45px;
}
#banner img {
    margin-left: 100px;
    cursor: pointer;
}

#banner a.btn_primary {
    margin-right: 40px;
}

#banner .cnt {
    display: flex;
    align-items: center;
}

#banner .cnt p {
    font-weight: 500;
    font-size: 20px;
    color: var(--primary-color);
    margin: 46px 32px 0 0;
}

#banner .cnt a {
    padding: 14px;
    color: var(--gradient);
    border-radius: 100%;
    background-color: var(--primary-color);
    margin: 46px 32px 0 0;
    align-items: center;
    display: inline-flex;
}

#banner .cnt a:hover {
    background: var(--fourth-color);
    color: var(--gradient);
    transition: .2s;
}

#banner .img {
    margin-top: 20px;
    width: 80%;
    height: auto;
    text-align: right;
    border-radius: 20px;
    filter: brightness(0.9), contrast(0.5), saturate(0.2);
    position: relative;
    z-index: 1;
}

#banner .img::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    background: var(--fourth-color);
    top: 20px;
    right: -20px;
    transform: rotate(11deg);
    border-radius: 20px;
    z-index: -1;
}

#banner .img::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    background: var(--primary-color);
    top: 20px;
    right: -20px;
    transform: rotate(-11deg);
    border-radius: 20px;
    z-index: -2;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                About Section                               */
#about {
    height: fit-content;
    margin: auto;
    padding: 80px 0 24px;
    color: var(--primary-color);
}

#about h2 {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    margin: 36px 0;
}

#about p {
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
    align-items: center;
    margin-top: 54px;
    color: var(--fourth-color);
}

#about .photo {
    margin-top: 20px;
    width: 80%;
    height: auto;
    text-align: left;
    filter: brightness(0.9), contrast(0.5), saturate(0.2);
    position: relative;
    border-radius: 20px;
    cursor: pointer;
}

#about .photo::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    background: var(--fourth-color);
    top: 20px;
    left: -20px;
    transform: rotate(11deg);
    border-radius: 20px;
    z-index: -1;
}

#about .photo::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    background: var(--primary-color);
    top: 20px;
    left: -20px;
    transform: rotate(-11deg);
    border-radius: 20px;
    z-index: -2;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                               Skills Section                               */
#skills {
    height: fit-content;
    margin: auto;
    padding: 80px 0 24px;
    color: var(--primary-color);
}

#skills h2 {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    margin: 36px 0;
}

.slider {
    overflow: hidden;
    height: 80px;
}

.slider .sec img {
    width: 50px;
    height: 50px;
    margin-left: 8px;
}

.slider .sec h5 {
    font-size: 18px;
    margin: 8px;
}

.diagram {
    margin-top: 24px;
}

#skills .explain p {
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
    align-items: center;
    margin-top: 84px;
    color: var(--fourth-color);
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                              Projects Section                              */
#project {
    height: fit-content;
    margin: auto;
    padding: 80px 0 24px;
    color: var(--primary-color);
}

#project h2 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 48px;
}

#project .card {
    background-color: var(--primary-color);
    padding: 12px;
    border-radius: 20px;
}

#project .card:hover {
    background-color: var(--fourth-color);
    transition: .2s;
}

#project a {
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    color: var(--gradient);
    border: none;
    border-radius: 0;
    text-align: left;
}

#project a:hover {
    border-bottom: 2px solid var(--gradient);
    transition: .2s;
}

#project h5 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                               Contact Section                              */
#contact {
    height: fit-content;
    margin: auto;
    padding: 80px 0 24px;
    color: var(--primary-color);
}

#contact h2 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 48px;
}

#contact .callCard {
    background-color: var(--primary-color);
    padding: 12px;
    border-radius: 20px;
    height: 400px;
}

#contact .callCard:hover {
    background-color: var(--fourth-color);
    transition: .2s;
}

#contact .callCard h3 {
    font-weight: 600;
    font-size: 24px;
    margin: 8px 0;
    color: var(--gradient);
}

#contact .callCard img {
    width: 250px;
    height: auto;
}

#contact .callCard p {
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    color: var(--gradient);
    border: none;
    border-radius: 0;
    margin-bottom: 16px;
    margin: 0 5px;
}

#contact .callCard h5 {
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    color: var(--gradient);
    border: none;
    border-radius: 0;
    margin: 5px;
}

#contact .fb {
    width: 100%;
    padding: 12px;
}

#contact .fb p {
    font-weight: 600;
    font-size: 24px;
    margin: 8px 0;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
footer h2 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    margin: 36px 0;
    color: var(--primary-color);
}

footer .i1 {
    width: 100%;
    padding: 16px;
    margin-top: 14px;
    background-color: transparent;
    color: var(--fourth-color);
    border: 2px solid var(--primary-color);
}

footer textarea {
    width: 100%;
    margin-top: 16px;
    background-color: transparent;
    color: var(--fourth-color);
    border: 2px solid var(--primary-color);
}

footer .i3 {
    display: flex;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    background-color: var(--primary-color);
    padding: 12px 64px;
    justify-content: center;
    margin: 24px auto;
    border: none;
    color: var(--gradient);
}

footer .i3:hover {
    background-color: var(--fourth-color);
    transition: .2s;
}
/* -------------------------------------------------------------------------- */
